<!DOCTYPE html>
<html lang="en">
    <header>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    </header>
    <body>

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading">Wordings</div>
        <div class="panel-body">
            <p>{{ 'languages : ' + ' '.join(languages) }}</p>
            <p>{{ 'wordings : %d ' % wordings.__len__() }}</p>
        </div>

        <!-- Table -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>key</th>
                    <th>comment</th>
                    {% for l in languages %}
                    <th>{{ l }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for w in wordings %}
                <tr class="{{ w.is_comment and 'active' or w.exportable and ' ' or 'danger' }}">
                    <td><samp>{{ w.key }}</samp></td>
                    <td>{{ w.comment }}</td>
                    {% for l in languages %}
                    <td>{{ w.translations[l] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
</html>